<div class='coding__index layout-column'>
	{{#link-to 'courses' class='back__arrow'}}
		<div class='layout-row layout-align-start-center'>
			{{fa-icon 'chevron-left'}}
			<h1 class='back__text'>Back</h1>
		</div>
	{{/link-to}}

	<div class='layout-row layout-align-center-center'>
		<div data-highlight-id='daily-life'>
			<img class='daily-life__image' src='/assets/img/dailyLife.png'/>
			<div class='courses__link layout-column layout-align-end-center'>
				<h1 class='link__daily-life'>Daily Life</h1>
				<div class='link__dialog layout-column layout-align-center-center'>
					<p>Learn how to use Bitcoin in your everyday life</p>
				</div>
			</div>
		</div>
	</div>

	<div class='layout-row lessons layout-align-space-around-center'>
		<div class='lesson complete'>
			<div class='icon__container icon__container-50'>{{fa-icon 'qrcode' class='lesson__icon'}}</div>
			<div class='lesson__dialog'>
				<h1 class='lesson__title'>Coinbase Account</h1>
				<p class='lesson__description'>Start using your very own Bitcoin wallet, made easy with Coinbase</p>
			</div>
		</div>

		<div class='lesson complete'>
			<div class='icon__container'>{{fa-icon 'btc' class='lesson__icon'}}</div>
			<div class='lesson__dialog'>
				<h1 class='lesson__title'>Your First Bitcoin</h1>
				<p class='lesson__description'>Learn how and why to invest in Bitcoin</p>
			</div>
		</div>
		<div class='lesson in-progress'>
			<div class='icon__container icon__container-70'>{{fa-icon 'balance-scale' class='lesson__icon'}}</div>
			<div class='lesson__dialog'>
				<h1 class='lesson__title'>Getting Paid</h1>
				<p class='lesson__description'>Start accepting payments for your services, in Bitcoin</p>
			</div>
		</div>
	</div>

	<div class='layout-row lessons layout-align-space-around-center'>
		<div class='lesson'>
			<div class='icon__container'>{{fa-icon 'lock' class='lesson__icon'}}</div>
			<div class='lesson__dialog'>
				<h1 class='lesson__title'>Security</h1>
				<p class='lesson__description'>Don't get taken advantage of. Learn how to protect yourself and your funds</p>
			</div>
		</div>

			<div class='lesson'>
				<div class='icon__container'>{{fa-icon 'shopping-cart' class='lesson__icon'}}</div>
				<div class='lesson__dialog'>
					<h1 class='lesson__title'>Shopping</h1>
					<p class='lesson__description'>Spend your hard&#8209;earned coins at your favorite stores</p>
				</div>
			</div>

		<div class='lesson'>
			<div class='icon__container'>{{fa-icon 'exchange' class='lesson__icon'}}</div>
			<div class='lesson__dialog'>
				<h1 class='lesson__title'>Currency Exchange</h1>
				<p class='lesson__description'>Learn the ins and outs of converting your funds between different currencies</p>
			</div>
		</div>
	</div>

	{{outlet}}
</div>
