<h1>Creating a coinbase account</h1>

<div class='flex daily-life-intro layout-row'>
	<div class='flex-70 layout-column daily-life__panel'>
		{{#if loading}}
			<div class='layout-column layout-align-center-center'>
				{{loading-spinner}}
			</div>
		{{else}}
			{{#unless loggedIn}}
				<div class='flex layout-column layout-align-center-center'>
					<button {{action 'coinbaseLogin'}}>
						Login to Coinbase
					</button>
				</div>
			{{else}}
				<div class='flex layout-column layout-align-center-center'>
					This is your portfolio!
				</div>
			{{/unless}}
		{{/if}}
	</div>

	<div class='flex-30 daily-life-intro__instructions'>
		<h1>Create a coinbase account for you to use by:</h1>
		<ol>
			<li>Following the link and creating an account in the new page</li>
			<li>Logging into your coinbase account using the button provided.</li>
		</ol>
	</div>

	{{outlet}}
</div>
